.login-modal-overlay {
    background-color: #2c3e50;
    z-index: 2000;
}

.login-modal-content {
    width: 400px;
    text-align: center;
}

.login-title {
    color: var(--color-text-primary);
    margin-bottom: 20px;
}

.login-error {
    color: red;
    margin-bottom: 15px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.login-input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.login-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
}

.login-hint {
    margin-top: 20px;
    font-size: 0.8rem;
    color: #888;
}