.footer-container {
    background-color: #f8f9fa;
    padding: 40px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    color: #555;

}

/* social media */
.social-media {
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
}

.social-icon {
    width: 45px;
    height: 45px;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E6007E;
    font-size: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s;
    text-decoration: none;
}

.social-icon:hover {
    transform: translateY(-3px);
    color: #1F2269;
}

/* Address Info */
.address-info h3 {
    font-size: 16px;
    font-weight: 500;
    color: #333;
    margin-bottom: 5px;
}

.address-info p {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
}

.contact-details {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: #007bff;
}

.contact-item span {
    color: #555;
}

.contact-item span {
    color: #4a90e2;
}

.contact-icon-small {
    font-size: 12px;
    color: #333;
}

/* Copyright */
.copyright {
    width: 100%;
    text-align: left;
    margin-top: 30px;
    padding-top: 20px;
    font-size: 16px;
    color: #999;
    padding-left: 5%;
}

@media (max-width: 768px) {
    .footer-container {
        padding: 30px 20px;
    }

    .address-info {
        width: 100%;
    }

    .contact-details {
        flex-direction: column;
        gap: 10px;
    }

    .copyright {
        text-align: center;
        padding-left: 0;
    }
}