/* contact area */
.contact-container {
  display: flex;
  gap: 90px;
  padding: 25px 120px;
  font-size: 16px;
}

/* left */
.contact-form {
  flex: 2;
}

.contact-form h2 {
  color: red;
  margin-bottom: 30px;
}

.row {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.row label {
  width: 160px;
  font-weight: 600;
}

.row input,
.row textarea {
  flex: 1;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #cbd3e0;
  outline: none;
}

.row textarea {
  height: 50px;
}

.row input:focus,
input:focus,
textarea:focus {
  outline: none;
  border: 2px solid #ffd200;
  box-shadow: 0 0 0 4px rgba(255, 210, 0, 0.35);
}

/* validate style */
.input-container {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
}

.input-error {
  border: 1px solid #e74c3c !important;
  color: #e74c3c;
}

.input-error:focus {
  border-color: #e74c3c !important;
  box-shadow: 0 0 0 4px rgba(231, 76, 60, 0.25) !important;
}

.error-icon {
  position: absolute;
  right: 12px;
  color: #e74c3c;
  font-size: 1.2rem;
  pointer-events: none;
}

.error-msg {
  color: #e74c3c;
  margin-left: 15px;
  font-size: 0.9rem;
  font-weight: 500;
}

.submit-btn {
  background: #ffd200;
  border: none;
  padding: 14px 40px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}


/* right */
.contact-info {
  flex: 1;
}

.contact-info h2 {
  color: #e9355c;
  padding-bottom: 10px;
}

.contact-info p {
  margin-bottom: 12px;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.icon-text p {
  font-weight: 100;
  margin: 0;
  padding: 0;
}

.icon-text a {
  text-decoration: none;
  color: inherit;
}

.icon-text a:hover {
  text-decoration: underline;
}


@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
    padding: 40px 20px;
    gap: 40px;
  }

  .contact-form {
    width: 100%;
    order: 1;
  }

  .contact-info {
    width: 100%;
    order: 2;
  }

  .row {
    flex-direction: column;
    align-items: flex-start;
  }

  .row label {
    width: 100%;
    margin-bottom: 5px;
  }

  .row input,
  .row textarea {
    width: 100%;
    box-sizing: border-box;
    /* Ensure padding doesn't overflow width */
  }

  .button-wrapper {
    justify-content: center;
  }
}