/* pic area */
.image-box {
  overflow: hidden;
  position: relative;

}

.image-box img {
  height: 85vh;
  width: 100%;
  object-fit: cover;
  transform: scale(1, 1);

}

/* We want to hear from you */
.overlay {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 100px;
  color: white;
  z-index: 1;
}
.overlay h1 {
  font-size: 50px;
  margin: 0 0 0 75px;
}
.overlay h1 span:nth-child(1) {
  color: #ffd200;
}
.overlay h1 span:nth-child(3) {
  color: #e9355c;
}

@media (max-width: 768px) {
  .image-box img {
    height: 60vh;
  }

  .overlay {
    padding-left: 20px;
  }

  .overlay h1 {
    margin: 0;
    font-size: 32px;
  }
}